body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.user-info {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.password-label {
    margin-right: 10px;
}

.password-input {
    border: none;
    background: none;
    font-size: 16px;
    padding: 0;
    outline: none;
    color: #333;
    width: 100px;
}

.eye-icon {
    cursor: pointer;
    margin-left: 10px;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}